---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<footer class="bg-white rounded-lg shadow p-4">
  <div class="w-full max-w-screen-xl mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="#"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <Image class="logo" src={logo} alt="s" height={150} width={150} />

        <span
          class="self-center text-2xl font-semibold whitespace-nowrap hidden"
          >Doyle</span
        >
      </a>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center"
      >© 2024 <a href="#" class="hover:underline">Doyle™</a>. All Rights
      Reserved.</span
    >
  </div>
</footer>
