---
import Carousel from "./react/Carousel";
---

<section class="mb-40" id="porfolio">
  <div class="cs-container">
    <p class="cs-title text">Nuestros MEJORES trabajos</p>
    <div class="cs-content">
      <Carousel client:load />
    </div>
  </div>

  <div class="mt-16" id="servicios">
    <div class="w-[80%] mx-auto flex flex-col justify-between">
      <p class="cs-title text-center lg:text-end p-10">Video con dron</p>

      <div class="lg:flex lg:justify-between">
        <div class="w-[60%] hidden lg:inline">
          <div class="w-[100%] h-[100%]">
            <video
              src="/src/assets/dron.mp4"
              autoplay
              muted
              loop
              class="w-[100%] h-[100%]"></video>
          </div>
        </div>
        <div class="w-[30%] h-auto inline lg:grid lg:place-items-center">
          <div>
            <img src="/src/assets/dron.png" alt="placeholder" class="" />
          </div>
        </div>
      </div>

      <!--Esta quiero que vaya a la derecha del todo abajo -->
    </div>
    <div class="w-[80%] mx-auto flex flex-col justify-between mt-10">
      <p class="cs-title text-center lg:text-start p-10">Tour virtual</p>

      <div class="lg:flex lg:justify-between">
        <div class="w-[30%] h-auto inline lg:grid lg:place-items-center">
          <div>
            <img src="/src/assets/hombre.jpg" alt="placeholder" class="" />
          </div>
        </div>
        <div class="w-[50%] hidden lg:inline">
          <div class="w-[100%] h-[100%]">
            <iframe
              width="100%"
              height="100%"
              src="https://my.matterport.com/show/?m=yemHN9HyTDS"
              frameborder="0"
              allowfullscreen
              allow="xr-spatial-tracking"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .text {
      text-align: center;
      padding: 1rem;
    }
  </style>
</section>
